{
  "plugins": ["ava"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "strict": "off",
    "semi": ["error", "never"],
    "quotes": ["warn", "single"],
    "no-unused-expressions": 0,
    "ava/no-only-test": "warn",
    "ava/no-skip-test": "warn",
    "ava/no-skip-assert": "warn"
  },
  "extends": "plugin:ava/recommended",
  "env": {
    "node": true
  }
}
